{
	"extends": [
		"eslint-config-egg",
		"plugin:vue/base"
	],
	"parserOptions": {
		"parser": "babel-eslint",
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"rules": {
		"semi": [
			0
		],
		"indent": [
			0,
			4
		],
		"eqeqeq": 0,
		"no-bitwise": 0,
		"no-return-assign": 0,
		"newline-per-chained-call": 0,
		"no-undef": 0,
		"array-callback-return": 0,
		"consistent-return": 0,
		"arrow-parens": "off",
		"valid-jsdoc": "off",
		"eol-last": "off",
		"array-bracket-spacing": "off",
		"no-unused-vars": "off",
		"no-else-return": "off",
		"strict": "off",
		"linebreak-style": "off",
		"no-irregular-whitespace": [
			"error",
			{
				"skipComments": true
			}
		],
		"comma-dangle": [
			"error",
			{
				"arrays": "only-multiline",
				"objects": "only-multiline"
			}
		]
	},
	"env": {
		"browser": true,
		"node": true,
		"commonjs": true,
		"jquery": true,
		"es6": true
	},
	"globals": {
		"EASY_ENV_IS_PROD": true,
		"EASY_ENV_IS_NODE": true,
		"EASY_ENV_IS_BROWSER": true,
		"EASY_ENV_IS_DEV": true
	}
}