.index label {
  padding-left: 8px;
  padding-right: 8px;
  color: #878d99
}

.index .search-input{
  max-width: 200px;
}
.index .search-button{
  margin-left: 16px;
}
.index .add-button{
  float:right;
  margin-right: 16px;
}

.index .long-input {
  max-width: 75%;
}

.index .top16 {
  margin-top: 16px;
}